@import url(style/header/.css);
:root{
--cor-de-fundo: #e5ecbb;
--cor-cabecalho: #f3c887;
}
body{
background-color: var(--cor-de-fundo);
margin: 50px;
} 

.imagem-cabecalho {
    width: 190;
    height: 290px;
}

.titulo-site {
    font-size: 50px;
    font-weight: bold;
    margin: 10 px;
    font-family: 'Verdana';
}

.footer {
    background-color: #e0f190;
    padding: 20px;
    text-align: center;
}

.footer-image {
    width: 1248px;
    height: auto;
}
