@import url(style/header/.css);
:root{
--cor-de-fundo: #e5ecbb;
--cor-cabecalho: #f3c887;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
} 

.imagem-cabecalho {
    width: 100px;
    height: 50px;
}

.footer {
    background-color: #e0f190;
    padding: 20px;
    text-align: center;
}

.footer-image {
    width: 1348px;
    height: auto;
}
@media screen and (max-width: 800px) {
    .footer-image {
        width: 50px;
    }
}