.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container-frase{
    padding: 50px;
    display:none;
    }

@media screen and (max-width: 820px) {
    .container_titulo, .container_titulo--negrito {
     font-size: 30px;
    }

    .container_titulo {
        font-weight: 50px;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .container_frase {
        padding: 20px;
        font-size:100;
        display: block;
    }
}