.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container-frase{
    padding: 50px;
    display:none;
    font-size: 80px;
    font-family: 'Segoe UI';
    }

@media screen and (min-width: 820px) {
    .titulo-site, .titulo-site--negrito {
     font-size: 30px;
     margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container_frase {
        padding: 20px;
        font-size:100px;
        display: block;
    }
}